.version.appointments /* version checker */
{
	color: #0000EA;
	background-color: #55DAF7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1590.6499999999985px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 28;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 347px;
}

#u5708-4
{
	z-index: 30;
	width: 538px;
	min-height: 64px;
	position: relative;
}

#menuu5711
{
	z-index: 34;
	width: 538px;
	margin-top: 10px;
	position: relative;
}

#u5712
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5715-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713:hover #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5713:active #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5719
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u5720
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713.MuseMenuActive,#u5720:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5723-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713.MuseMenuActive #u5715-4,#u5720:hover #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5720:active #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5741
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u5742
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5720.MuseMenuActive,#u5742:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5744-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5720.MuseMenuActive #u5723-4,#u5742:hover #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742:active #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742.MuseMenuActive #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u1111-6
{
	z-index: 17;
	width: 572px;
	min-height: 146px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 111px;
	margin-top: 14px;
	position: relative;
}

#u1482-4
{
	z-index: 23;
	width: 572px;
	min-height: 49px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 111px;
	margin-top: 10px;
	position: relative;
}

#u1110
{
	z-index: 16;
	width: 741px;
	height: 1207px;
	background-color: #F4F4F4;
	margin-left: 111px;
	margin-top: 48px;
	position: relative;
}

#u1483
{
	z-index: 27;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -97px;
	right: 89px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1483:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1483.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #E4FFE8;
}

body
{
	position: relative;
	min-width: 960px;
}

