.version.appointments /* version checker */
{
	color: #0000F9;
	background-color: #59F2DE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1590.7999999999984px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 58px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#u1111-6
{
	z-index: 17;
	width: 572px;
	min-height: 146px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 200px;
	margin-top: 32px;
	position: relative;
}

#u5373
{
	z-index: 55;
	width: 161px;
	height: 81px;
	position: fixed;
	bottom: 444px;
	left: 120px;
}

#u1482-4
{
	z-index: 23;
	width: 572px;
	min-height: 49px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 200px;
	margin-top: 10px;
	position: relative;
}

#u175-4
{
	z-index: 28;
	width: 161px;
	min-height: 27px;
	position: fixed;
	bottom: 404px;
	left: 120px;
}

#u591-4
{
	z-index: 51;
	width: 161px;
	min-height: 22px;
	position: fixed;
	bottom: 363px;
	left: 120px;
}

#u1110
{
	z-index: 16;
	width: 741px;
	height: 1207px;
	background-color: #F4F4F4;
	margin-left: 200px;
	margin-top: 48px;
	position: relative;
}

#pu1483
{
	width: 0.01px;
	padding-bottom: 1188px;
	margin-left: 20px;
	margin-top: -1165px;
}

#u1483
{
	z-index: 27;
	width: 62px;
	height: 62px;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	position: fixed;
	bottom: 80px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1483:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1483.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#menuu205
{
	z-index: 32;
	width: 161px;
	position: fixed;
	bottom: 217px;
	left: 120px;
}

#u227
{
	width: 161px;
	position: relative;
}

#u228
{
	width: 161px;
	min-height: 22px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u228:hover
{
	width: 161px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 161px;
	min-height: 22px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 161px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 161px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u240,#u253
{
	width: 161px;
	margin-top: 2px;
	position: relative;
}

#u254
{
	width: 161px;
	min-height: 22px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 161px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 161px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 161px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -152px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -112px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -72px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 200px;
	margin-top: 1px;
	position: relative;
}

.html
{
	background-color: #E4FFE8;
}

body
{
	position: relative;
	min-width: 960px;
}

