.version.index /* version checker */
{
	color: #0000F9;
	background-color: #AA19F2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1431.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 55;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 347px;
}

#u5708-4
{
	z-index: 57;
	width: 538px;
	min-height: 64px;
	position: relative;
}

#menuu5711
{
	z-index: 61;
	width: 538px;
	margin-top: 10px;
	position: relative;
}

#u5712
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5715-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713:hover #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5713:active #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5719
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u5720
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713.MuseMenuActive,#u5720:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5723-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713.MuseMenuActive #u5715-4,#u5720:hover #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5720:active #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5741
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u5742
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5720.MuseMenuActive,#u5742:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5744-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5720.MuseMenuActive #u5723-4,#u5742:hover #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742:active #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742.MuseMenuActive #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu422
{
	z-index: 16;
	width: 0.01px;
	height: 658px;
	padding-bottom: 35px;
	margin-left: 112px;
	margin-top: 18px;
	position: relative;
}

#u429
{
	position: absolute;
	width: 740px;
	background-color: transparent;
}

#u429popup
{
	z-index: 17;
}

#u440
{
	z-index: 18;
	width: 592px;
	height: 338px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	padding: 124px 87px 231px 61px;
	background: transparent url("../images/wellnessbackground2.png") no-repeat right bottom;
	background-size: cover;
}

#pu559-3
{
	width: 0.01px;
}

#u559-3
{
	z-index: 19;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u559-3 > *
{
	padding-left: 0px;
	padding-left: -10px;
}

#u5453
{
	z-index: 22;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u5479-4
{
	z-index: 24;
	width: 481px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 6px;
	color: #7A7A7A;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: italic;
	margin-left: 68px;
	margin-top: 72px;
	position: relative;
}

#u4406
{
	z-index: 28;
	width: 740px;
	height: 693px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/sound-waves-light-background-1234662.png") no-repeat right bottom;
	background-size: cover;
}

#u4412-3
{
	z-index: 29;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 61px;
}

#u4412-3 > *
{
	padding-left: -10px;
}

#u5431
{
	z-index: 32;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 125px;
}

#u423
{
	z-index: 34;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 648px;
	left: 71px;
}

#u424
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
}

#u424:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u424:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4408
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	left: 20px;
}

#u4408:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4408:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u424.PamphletThumbSelected,#u4408.PamphletThumbSelected
{
	background-color: #C69C6D;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u560-3
{
	z-index: 47;
	width: 592px;
	min-height: 24px;
	background-color: transparent;
	color: #3E3E3E;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	letter-spacing: 4px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 181px;
	top: -605px;
	margin-bottom: -24px;
	position: relative;
}

#u561-4
{
	z-index: 50;
	width: 592px;
	min-height: 22px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 6px;
	color: #7A7A7A;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 181px;
	top: -317px;
	margin-bottom: -24px;
	position: relative;
}

#pbuttonu540
{
	width: 0.01px;
	margin-left: 112px;
	margin-top: 52px;
}

#buttonu540
{
	z-index: 42;
	width: 350px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/pen_04.jpg") no-repeat center center;
	background-size: cover;
}

#u508-4
{
	z-index: 43;
	width: 229px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 56px;
}

#buttonu540:hover #u508-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

#buttonu540.ButtonSelected #u508-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu540:hover #u508-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu536
{
	z-index: 37;
	width: 350px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
	background: transparent url("../images/pen_05.jpg") no-repeat center center;
	background-size: cover;
}

#u506-4
{
	z-index: 38;
	width: 147px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	font-size: 26px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 97px;
}

#buttonu536:hover #u506-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536.ButtonSelected #u506-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536:hover #u506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu540.ButtonSelected #u508-4 p,#buttonu536.ButtonSelected #u506-4 p
{
	color: #3E3E3E;
	visibility: inherit;
}

#u508-2,#u506-2
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u1075
{
	z-index: 54;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -31px;
	right: 88px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1075:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1075.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #E4FFE8;
}

body
{
	position: relative;
	min-width: 960px;
}

