.version.index /* version checker */
{
	color: #000006;
	background-color: #000A26;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1431.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 76;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 349px;
}

#u5708-4
{
	z-index: 78;
	width: 538px;
	min-height: 37px;
	position: relative;
}

#menuu5711
{
	z-index: 82;
	width: 552px;
	margin-top: 24px;
	position: relative;
}

#u5712
{
	width: 122px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 116px;
	padding-bottom: 2px;
	position: relative;
}

#u5713:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5715
{
	height: 43px;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#u5719
{
	width: 179px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u5720
{
	width: 173px;
	padding-bottom: 2px;
	position: relative;
}

#u5720:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5723
{
	height: 43px;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 10px;
}

#u5741
{
	width: 247px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u5742
{
	width: 241px;
	padding-bottom: 2px;
	position: relative;
}

#u5742:hover
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5744
{
	height: 43px;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#pamphletu422
{
	z-index: 34;
	width: 0.01px;
	height: 658px;
	padding-bottom: 35px;
	margin-left: 112px;
	margin-top: 18px;
	position: relative;
}

#u429popup
{
	z-index: 35;
}

#u440
{
	z-index: 36;
	width: 592px;
	height: 314px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	padding: 124px 87px 255px 61px;
	background: transparent url("../images/wellnessbackground2.png") no-repeat right bottom;
	background-size: cover;
}

#u559-3
{
	z-index: 37;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u559-3 > *
{
	padding-left: 0px;
	padding-left: -10px;
}

#u5453
{
	z-index: 40;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u5479-4
{
	z-index: 42;
	width: 481px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 6px;
	color: #7A7A7A;
	line-height: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 67px;
	margin-top: 48px;
	position: relative;
}

#u4406
{
	z-index: 46;
	width: 740px;
	height: 693px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/sound-waves-light-background-1234662.png") no-repeat right bottom;
	background-size: cover;
}

#u4412-3
{
	z-index: 47;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 61px;
}

#u5431
{
	z-index: 50;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 125px;
}

#pamphletu5785
{
	z-index: 52;
	width: 0.01px;
	height: 658px;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u429,#u5789
{
	position: absolute;
	width: 740px;
	background-color: transparent;
}

#u5789popup
{
	z-index: 53;
}

#u5794
{
	z-index: 54;
	width: 592px;
	height: 318px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	padding: 124px 87px 251px 61px;
	background: transparent url("../images/wellnessbackground2.png") no-repeat right bottom;
	background-size: cover;
}

#pu559-3,#pu5795-3
{
	width: 0.01px;
}

#u5795-3
{
	z-index: 55;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
}

#u5796
{
	z-index: 58;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u6656-4
{
	z-index: 60;
	width: 485px;
	min-height: 32px;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 6px;
	color: #7A7A7A;
	line-height: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: italic;
	margin-left: 67px;
	margin-top: 46px;
	position: relative;
}

#u5790
{
	z-index: 64;
	width: 740px;
	height: 693px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/sound-waves-light-background-1234662.png") no-repeat right bottom;
	background-size: cover;
}

#u5791-3
{
	z-index: 65;
	width: 592px;
	min-height: 239px;
	background-color: transparent;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 61px;
}

#u4412-3 > *,#u5795-3 > *,#u5791-3 > *
{
	padding-left: -10px;
}

#u5792
{
	z-index: 68;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 125px;
}

#u5799
{
	z-index: 70;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 648px;
	left: 71px;
}

#u5801
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
}

#u5801:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u5801:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u5800
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	left: 20px;
}

#u5800:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u5800:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u423
{
	z-index: 73;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 648px;
	left: 71px;
}

#u424
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
}

#u424:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u424:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4408
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	left: 20px;
}

#u4408:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u4408:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u5801.PamphletThumbSelected,#u5800.PamphletThumbSelected,#u424.PamphletThumbSelected,#u4408.PamphletThumbSelected
{
	background-color: #C69C6D;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u560-3
{
	z-index: 26;
	width: 592px;
	min-height: 24px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	letter-spacing: 4px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 181px;
	top: -605px;
	margin-bottom: -24px;
	position: relative;
}

#u561-4
{
	z-index: 29;
	width: 592px;
	min-height: 22px;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 6px;
	color: #7A7A7A;
	line-height: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 181px;
	top: -317px;
	margin-bottom: -24px;
	position: relative;
}

#pbuttonu540
{
	width: 0.01px;
	margin-left: 112px;
	margin-top: 52px;
}

#buttonu540
{
	z-index: 21;
	width: 350px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/acupuncture-treatment.jpg") no-repeat center center;
	background-size: cover;
}

#u508-4
{
	z-index: 22;
	width: 229px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 56px;
}

#buttonu540:hover #u508-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

#buttonu540.ButtonSelected #u508-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu540:hover #u508-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu536
{
	z-index: 16;
	width: 350px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
	background: transparent url("../images/waterdrop.jpg") no-repeat center center;
	background-size: cover;
}

#u506-4
{
	z-index: 17;
	width: 147px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	line-height: 31px;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 97px;
}

#buttonu536:hover #u506-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536.ButtonSelected #u506-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536:hover #u506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu540.ButtonSelected #u508-4 p,#buttonu536.ButtonSelected #u506-4 p
{
	color: #3E3E3E;
	visibility: inherit;
}

#u508-2,#u506-2
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u1075
{
	z-index: 33;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -31px;
	right: 88px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1075:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1075.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #C8FFC8;
	background: -webkit-gradient(linear, center top, center bottom, from(#C8FFC8),color-stop(100%, #E8FFE8));
	background: -webkit-linear-gradient(top,#C8FFC8 ,#E8FFE8 100%);
	background: linear-gradient(to bottom,#C8FFC8 ,#E8FFE8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC8FFC8, endColorstr=#FFE8FFE8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC8FFC8', endColorstr='#FFE8FFE8', GradientType=0)";
}

body
{
	position: relative;
	min-width: 960px;
}

