.version.therapies /* version checker */
{
	color: #0000F7;
	background-color: #A950C7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2264.7499999999995px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 221;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 349px;
}

#u5708-4
{
	z-index: 223;
	width: 558px;
	min-height: 37px;
	position: relative;
}

#pu6779-4
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 15px;
}

#u6779-4
{
	z-index: 243;
	width: 232px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u6782-4
{
	z-index: 247;
	width: 321px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 235px;
}

#menuu5711
{
	z-index: 227;
	width: 552px;
	margin-top: 13px;
	position: relative;
}

#u5712
{
	width: 122px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 116px;
	padding-bottom: 2px;
	position: relative;
}

#u5713:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5715
{
	height: 43px;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#u5719
{
	width: 179px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u5720
{
	width: 173px;
	padding-bottom: 2px;
	position: relative;
}

#u5720:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5723
{
	height: 43px;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 10px;
}

#u5741
{
	width: 247px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u5742
{
	width: 241px;
	padding-bottom: 2px;
	position: relative;
}

#u5742:hover
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5744
{
	height: 43px;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#u922-4
{
	z-index: 16;
	width: 920px;
	min-height: 19px;
	background-color: transparent;
	font-size: 50px;
	line-height: 43px;
	letter-spacing: 4px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u6788-200
{
	z-index: 21;
	width: 684px;
	min-height: 1719px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 131px;
	margin-top: 26px;
	position: relative;
}

#u6788-5,#u6788-64
{
	font-weight: bold;
}

#u1101
{
	z-index: 20;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -1088px;
	right: 89px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1101:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1101.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #E8FFE8;
	background: -webkit-gradient(linear, center top, center bottom, from(#E8FFE8),color-stop(100%, #C8FFC8));
	background: -webkit-linear-gradient(top,#E8FFE8 ,#C8FFC8 100%);
	background: linear-gradient(to bottom,#E8FFE8 ,#C8FFC8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE8FFE8, endColorstr=#FFC8FFC8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE8FFE8', endColorstr='#FFC8FFC8', GradientType=0)";
}

body
{
	position: relative;
	min-width: 960px;
}

