.version.therapies /* version checker */
{
	color: #000005;
	background-color: #937892;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2264.7999999999947px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 52;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 349px;
}

#u5708-4
{
	z-index: 54;
	width: 538px;
	min-height: 37px;
	position: relative;
}

#menuu5711
{
	z-index: 58;
	width: 552px;
	margin-top: 24px;
	position: relative;
}

#u5712
{
	width: 122px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 116px;
	padding-bottom: 2px;
	position: relative;
}

#u5713:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5713.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u5715
{
	height: 43px;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#u5719
{
	width: 179px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u5720
{
	width: 173px;
	padding-bottom: 2px;
	position: relative;
}

#u5720:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5720.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u5723
{
	height: 43px;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 10px;
}

#u5741
{
	width: 247px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u5742
{
	width: 241px;
	padding-bottom: 2px;
	position: relative;
}

#u5742:hover
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 241px;
	min-height: 0px;
	margin: 0px;
}

#u5744
{
	height: 43px;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 9px;
}

#u922-4
{
	z-index: 16;
	width: 789px;
	min-height: 19px;
	background-color: transparent;
	line-height: 43px;
	font-size: 50px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 111px;
	margin-top: 15px;
	position: relative;
}

#slideshowu6149
{
	z-index: 21;
	width: 0.01px;
	height: 3473px;
	left: -109px;
	margin-top: 27px;
	position: relative;
}

#u6154
{
	position: absolute;
	width: 1039px;
	height: 731px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 37px;
	left: 68px;
	-pie-background: rgba(0,0,0,0.9);
}

#u6154popup
{
	z-index: 22;
}

#u6155
{
	z-index: 23;
	width: 995px;
	height: 669px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6155_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u6317
{
	z-index: 25;
	width: 995px;
	height: 669px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6317_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u6337
{
	z-index: 27;
	width: 995px;
	height: 669px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6337_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u6357
{
	z-index: 29;
	width: 995px;
	height: 669px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6357_img
{
	margin: -2px 3px -3px;
}

#u6377
{
	z-index: 31;
	width: 995px;
	height: 669px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6377_img
{
	padding-top: 16px;
	padding-bottom: 17px;
}

#u6168
{
	position: absolute;
	width: 1176px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 28px;
}

#u6168popup
{
	z-index: 33;
}

#u6173
{
	z-index: 34;
	width: 1074px;
	height: 681px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u6173:hover
{
	width: 1074px;
	height: 681px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6173_img
{
	padding: 8px 38px 7px;
}

#u6323
{
	z-index: 36;
	width: 1074px;
	height: 681px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 691px;
	left: 50px;
}

#u6323:hover
{
	width: 1074px;
	height: 681px;
	min-height: 0px;
	margin: 691px -10000px 0px 0px;
}

#u6323_img
{
	padding: 7px 36px 6px;
}

#u6343
{
	z-index: 38;
	width: 1074px;
	height: 681px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1382px;
	left: 50px;
}

#u6343:hover
{
	width: 1074px;
	height: 681px;
	min-height: 0px;
	margin: 1382px -10000px 0px 0px;
}

#u6343_img
{
	padding: 7px 38px 6px 39px;
}

#u6363
{
	z-index: 40;
	width: 1074px;
	height: 681px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2073px;
	left: 50px;
}

#u6363:hover
{
	width: 1074px;
	height: 681px;
	min-height: 0px;
	margin: 2073px -10000px 0px 0px;
}

#u6363_img
{
	margin-left: 37px;
	margin-right: 36px;
	margin-bottom: -1px;
}

#u6383
{
	z-index: 42;
	width: 1074px;
	height: 681px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2764px;
	left: 50px;
}

#u6383:hover
{
	width: 1074px;
	height: 681px;
	min-height: 0px;
	margin: 2764px -10000px 0px 0px;
}

#u6383_img
{
	padding: 21px 38px 22px;
}

#u6166-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 542px;
}

#u6166-4popup
{
	z-index: 44;
}

#u6152-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 642px;
}

#u6152-4popup
{
	z-index: 48;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1101
{
	z-index: 20;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 11px;
	right: 89px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1101:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1101.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #C8FFC8;
	background: -webkit-gradient(linear, center top, center bottom, from(#C8FFC8),color-stop(100%, #E8FFE8));
	background: -webkit-linear-gradient(top,#C8FFC8 ,#E8FFE8 100%);
	background: linear-gradient(to bottom,#C8FFC8 ,#E8FFE8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC8FFC8, endColorstr=#FFE8FFE8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC8FFC8', endColorstr='#FFE8FFE8', GradientType=0)";
}

body
{
	position: relative;
	min-width: 960px;
}

