.version.therapies /* version checker */
{
	color: #00001D;
	background-color: #06A6C7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2265px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 54px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu5701
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u5701
{
	z-index: 80;
	width: 326px;
	position: relative;
	margin-right: -10000px;
}

#pu5708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 347px;
}

#u5708-4
{
	z-index: 82;
	width: 538px;
	min-height: 64px;
	position: relative;
}

#menuu5711
{
	z-index: 86;
	width: 538px;
	margin-top: 10px;
	position: relative;
}

#u5712
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
}

#u5713
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5713:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5715-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713:hover #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5713:active #u5715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5719
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u5720
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5713.MuseMenuActive,#u5720:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5720:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5723-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5713.MuseMenuActive #u5715-4,#u5720:hover #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5720:active #u5723-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5741
{
	width: 178px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u5742
{
	width: 178px;
	padding-bottom: 35px;
	position: relative;
}

#u5720.MuseMenuActive,#u5742:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5742.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u5744-4
{
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u5720.MuseMenuActive #u5723-4,#u5742:hover #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742:active #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u5742.MuseMenuActive #u5744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u922-4
{
	z-index: 17;
	width: 546px;
	min-height: 130px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 111px;
	margin-top: 15px;
	position: relative;
}

#u3096-3
{
	z-index: 77;
	width: 546px;
	min-height: 78px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 111px;
	margin-top: 36px;
	position: relative;
}

#u1062
{
	z-index: 75;
	width: 740px;
	height: 411px;
	margin-left: 111px;
	margin-top: 43px;
	position: relative;
	background: #F4F4F4 url("../images/hwacu_logo.png") no-repeat center center;
	background-size: cover;
}

#pu921
{
	width: 0.01px;
	margin-left: 111px;
	margin-top: 27px;
}

#u921
{
	z-index: 16;
	width: 640px;
	background-color: #F4F4F4;
	position: relative;
	margin-right: -10000px;
	padding: 56px 48px 111px 53px;
}

#pu1008-4
{
	width: 0.01px;
	margin-left: -1px;
}

#u1008-4
{
	z-index: 67;
	width: 71px;
	min-height: 243px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	font-size: 200px;
	line-height: 240px;
	letter-spacing: 0px;
	color: #3E3E3E;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu988-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 69px;
	margin-left: 83px;
}

#u988-3
{
	z-index: 30;
	width: 482px;
	min-height: 91px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u1013-3
{
	z-index: 33;
	width: 169px;
	min-height: 38px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 17px;
	text-align: right;
	line-height: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 280px;
	margin-top: 19px;
	position: relative;
}

#u1033-4
{
	z-index: 36;
	width: 385px;
	min-height: 38px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 116px;
	position: relative;
}

#pu1032-3
{
	width: 0.01px;
	margin-top: 22px;
}

#u1032-3
{
	z-index: 21;
	width: 294px;
	min-height: 133px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1035-3
{
	z-index: 27;
	width: 294px;
	min-height: 190px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u1036-3
{
	z-index: 48;
	width: 640px;
	min-height: 38px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 143px;
	position: relative;
}

#pu1039
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 25px;
}

#u1039
{
	z-index: 44;
	width: 290px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E3E3E;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1043-4
{
	z-index: 51;
	width: 252px;
	min-height: 22px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	font-size: 10px;
	text-align: left;
	line-height: 14px;
	letter-spacing: 3px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1043-4:hover
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 252px;
	margin: -2px -10000px -2px 0px;
}

#u1059
{
	z-index: 45;
	width: 290px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E3E3E;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u1058-4
{
	z-index: 55;
	width: 213px;
	min-height: 22px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	font-size: 10px;
	text-align: left;
	line-height: 14px;
	letter-spacing: 3px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1058-4:hover
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 213px;
	margin: -2px -10000px -2px 0px;
}

#pu1047
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 14px;
}

#u1047
{
	z-index: 46;
	width: 290px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E3E3E;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1046-4
{
	z-index: 59;
	width: 271px;
	min-height: 22px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	font-size: 10px;
	text-align: left;
	line-height: 14px;
	letter-spacing: 3px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1046-4:hover
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: -2px -10000px -2px 0px;
}

#u1056
{
	z-index: 47;
	width: 290px;
	border-style: solid;
	border-width: 2px;
	border-color: #3E3E3E;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u1057-4
{
	z-index: 63;
	width: 276px;
	min-height: 22px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	font-size: 10px;
	text-align: left;
	line-height: 14px;
	letter-spacing: 3px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1057-4:hover
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: -2px -10000px -2px 0px;
}

#u1043-2,#u1058-2,#u1046-2,#u1057-2
{
	padding-left: 17px;
	padding-top: 4px;
}

#u1106-4
{
	z-index: 40;
	width: 385px;
	min-height: 38px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 135px;
	position: relative;
}

#u1105-3
{
	z-index: 24;
	width: 294px;
	min-height: 86px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 23px;
	position: relative;
}

#u4102-4
{
	z-index: 71;
	width: 71px;
	min-height: 240px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	font-size: 200px;
	line-height: 240px;
	letter-spacing: 0px;
	color: #3E3E3E;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	-webkit-transform: matrix(-1,0,0,-1,71,240);
	-ms-transform: matrix(-1,0,0,-1,71,240);
	transform: matrix(-1,0,0,-1,71,240);
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 621px;
}

#u1101
{
	z-index: 76;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -40px;
	right: 89px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1101:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1101.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 734px;
	min-height: 21px;
	margin-left: 113px;
	margin-top: 28px;
	position: relative;
}

.html
{
	background-color: #E4FFE8;
}

body
{
	position: relative;
	min-width: 960px;
}

