.Menu_Icons,.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: fira-sans-n7, sans-serif;
}

.Name,.Buttons_Large
{
	font-family: fira-sans-n5, sans-serif;
}

.Buttons_Tabbed_Panel,.Buttons_Accordian,.Title_Tabbed_Panel
{
	font-family: open-sans-n7, sans-serif;
}

.Titles,.Headers
{
	font-family: fira-sans-n6, sans-serif;
}

.Subtitle,.Slideshow_body
{
	font-family: fira-sans-n2, sans-serif;
}


#u1855-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1846-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu1843.frm-sub-st #u1857-4 p,#widgetu1843.frm-subm-err-st #u1858-4 p,#widgetu1843.frm-subm-ok-st #u1856-4 p,#u1851-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu1852_input,#widgetu1852_prompt,#widgetu1844_input,#widgetu1844_prompt,#widgetu1848_input,#widgetu1848_prompt
{
	font-family: open-sans, sans-serif;
}

