.Menu_Icons,.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: fira-sans-n7, sans-serif;
}

.Name,.Buttons_Large
{
	font-family: fira-sans-n5, sans-serif;
}

.Buttons_Tabbed_Panel,.Buttons_Accordian,.Title_Tabbed_Panel
{
	font-family: open-sans-n7, sans-serif;
}

.Titles,.Headers
{
	font-family: fira-sans-n6, sans-serif;
}

.Subtitle,.Slideshow_body
{
	font-family: fira-sans-n2, sans-serif;
}


#u1549-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1550-6
{
	font-family: josefin-sans-n4, sans-serif;
}

#u1563-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1564-4
{
	font-family: open-sans-n7, sans-serif;
}


