.Menu_Icons,.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: fira-sans-n7, sans-serif;
}

.Name,.Buttons_Large
{
	font-family: fira-sans-n5, sans-serif;
}

.Buttons_Tabbed_Panel,.Buttons_Accordian,.Title_Tabbed_Panel
{
	font-family: open-sans-n7, sans-serif;
}

.Titles,.Headers
{
	font-family: fira-sans-n6, sans-serif;
}

.Subtitle,.Slideshow_body
{
	font-family: fira-sans-n2, sans-serif;
}


#u2689-4
{
	font-family: fira-sans-i2, sans-serif;
}

#u2690-4
{
	font-family: fira-sans-n5, sans-serif;
}

#u2698-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2699-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2700-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2701-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2687
{
	font-family: open-sans-n6, sans-serif;
}

#u2687-5
{
	font-family: open-sans-n4, sans-serif;
}

#u2687-7
{
	font-family: open-sans-i3, sans-serif;
}

