.Menu_Icons,.Text_Simple
{
	font-family: open-sans-n3, sans-serif;
}

.Title_Small
{
	font-family: fira-sans-n7, sans-serif;
}

.Name,.Buttons_Large
{
	font-family: fira-sans-n5, sans-serif;
}

.Buttons_Tabbed_Panel,.Buttons_Accordian,.Title_Tabbed_Panel
{
	font-family: open-sans-n7, sans-serif;
}

.Titles,.Headers
{
	font-family: fira-sans-n6, sans-serif;
}

.Subtitle,.Slideshow_body
{
	font-family: fira-sans-n2, sans-serif;
}


#u2727-3
{
	font-family: open-sans-n7, sans-serif;
}

#u4125-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4121-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu4111.frm-sub-st #u4118-4 p,#widgetu4111.frm-subm-err-st #u4116-4 p,#widgetu4111.frm-subm-ok-st #u4119-4 p,#u4114-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu4124_input,#widgetu4124_prompt,#widgetu4120_input,#widgetu4120_prompt,#widgetu4112_input,#widgetu4112_prompt
{
	font-family: open-sans, sans-serif;
}

